.popUpForm {
  background-color: brown;
}

.catalog {
  background-color: rgb(122, 119, 116);
  display: flex;
}

.cards {
  margin-left:auto;
  margin-top: 0;
  width: 71%;
  background-color: chocolate;
}

.nameDescriptions{
  border:1px solid white;
  
}


.fullinfo{
  border: 1px solid white
}

.searchSort {
  position: fixed;
  background-color: rgb(122, 119, 116);
  width: 29%;
}

.open-button {
  position: fixed;
  height: 60px;
  width: 29%;
}

.form-popup{
  position: fixed;
  width: 29%;
  top: 200px;
  background-color: rgb(235, 228, 221);
}

.btnlogin{
  position: relative;
  width: 100%;
  background-color: rgb(235, 228, 221);
}

.showButton{
  position: relative;
  background-color: darkgrey;
  width: 100px;
  height: 30px;
  right: 0px;
  float: right;
}
